.body{
    background-color: rgb(57, 57, 240);
    background-image: linear-gradient(to right,rgb(40, 189, 253),rgb(61, 133, 253), rgb(40, 180, 253),rgb(61, 133, 255),rgb(40, 189, 253));
    font-size: x-large;
}
.sub_heading{
    text-align: center;
    color: rgb(240, 240, 240);
}
.choices1{
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 50px;
    display: inline;
    margin-left: 3%;
}
.choices2{
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    display: inline;
    margin-left: 6%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    width: 12%;
    padding: 20px;
}
.photo:hover{
    animation: turn 5s ease 1;
}

@keyframes turn {
    25%{
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.score{
    font-size: 30px;
    padding-left: 18%;
    padding-right: 23%;
    justify-content: center;
    margin: 1%;
    color: rgb(249, 249, 249);
}
#won{
    text-align: center;
}
